{% extends 'base.html.twig' %}

{% block body %}

    <h1>select</h1>

    <table border="5">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>EMAIL</td>
        <td>PHONE</td>
    </tr>
    {% for entry in rows %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.email }}</td>
            <td>{{ entry.phone }}</td>
        </tr>
    {% else %}
        <h3>No entry</h3>
    {% endfor %}
    </table>

    <a href="{{ path('push') }}">Push</a>

{% endblock %}